body {
    font-family: 'Roboto', sans-serif;
}

.saveBtn {
    background-color: rgb(2, 172, 2)
}
.jumbotron {
    text-align: center;
}
.container {
    padding-left: 15%%;

.timeBlock {
    border: black;
    border-radius: 1px;
  

}
#currentDay {
    text-align: center;
    font-weight: bolder;
    border-radius: 25px;
    border-width: 3px solid black;


}
@media screen and (max-width: 580px) {
    .fa-save {
        font-size: 1.5em;
    }

    .save {
        border-radius: 0;
    }
}